.main{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.loginbg{
    background-color: black;
    opacity: .5;
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100vh;
}
.login_page{
    width:30%;
    height:50%;
    border-radius: 5px;
    background-color:white;
    z-index:1;

    
}